div {
    text-align: center;
}

li {
    padding: 5px;
    list-style-type: none;
}

a {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(156, 143, 143);
    text-decoration: none;
}

a:hover {
    border: 2px solid yellow;
    color: white;
    background-color: black;
}#multiple{
    padding: 2% 10% 2% 10%;
}

#multiplication {
    border-radius: 10px;
    letter-spacing: 10px;
    color: rgba(33, 92, 107, 0.253);


}

#matrix1,
#matrix2,
#resultmatrix {

    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    display: inline-block;

}

#matrix1>input,
#matrix2>input,
#resultmatrix>input,
#getinput1,
#getinput2 {
    border-radius: 10px;
    border: 1px solid rgb(156, 143, 143);
    text-align: center;
    line-height: 1.5;
    padding: 2px;
    margin: 0px;
    color: rgba(23, 89, 109, 0.247);
}

#getinput1,
#getinput2 {
    width: 20%;
}

body {
    background-color: #183d68;
}

button,
a {
    background-color: rgb(156, 143, 143);
    color: rgb(233, 183, 183);
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
}

button:hover,
a:hover {
    border: 2px solid rgba(52, 172, 126, 0.295);
    color: rgb(233, 183, 183);
    background-color: black;
}

li {
    list-style: none;
    padding: 5px;
    margin-top: 10px;
}

a {
    margin-right: 50px;
    text-decoration: none;
    padding: 5px;
}